# Default values for running the ETL locally outside Docker.
# When running inside the ETL Docker container, docker-compose.yml sets
# POSTGRES_HOST to `db` and connects to the Postgres container by name.
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=du_chapters
POSTGRES_USER=etl
POSTGRES_PASSWORD=etl
SOURCE_URL=https://services2.arcgis.com/5I7u4SJE1vUr79JC/arcgis/rest/services/UniversityChapters_Public/FeatureServer/0
TARGET_STATES=["CA"]
ARCGIS_PAGE_SIZE=1000
REQUEST_TIMEOUT=30
LOG_LEVEL=INFO
